#mode: release, development
mode: development
port: 9000
logger-path: "auth-log.log"
saltKey: 
redis:
  port: 6379
  password: 
  database: 0
db:
  cluster: scylladb
  keyspace: lottery_auth
  password:
google:
  clientID: 
  clientSecret:
  redirectUrl: http://localhost:3000/auth/login
github:
  clientID: 
  clientSecret: 
  redirectUrl: http://localhost:3000/auth/login